<po-page-default p-title="Abertura de Ordem de Serviço">
  <po-container>
    <po-input p-label="Número da OS" name="codigoOS" p-readonly="true" [(ngModel)]="os.codigoOS"></po-input>

    <po-datepicker p-label="Data da OS" name="dataOS" p-readonly="true" [(ngModel)]="os.dataOS"></po-datepicker>

    <po-select name="anoSafra" p-label="Ano Safra" [p-options]="anosSafra" p-required
      (ngModelChange)="onAnoSafraChange($event)">
    </po-select>

    <po-select name="periodoProducao" p-label="Periodo de Produçao" [p-options]="periodosProducao" p-required
      (ngModelChange)="onPeriodoProducaoChange($event)">
    </po-select>

    <po-input p-label="Centro de Custo" name="centroCusto" p-required [(ngModel)]="os.centroCusto"></po-input>

    <po-select name="aglomerado" p-label="Aglomerado" [p-options]="aglomerados" p-required
      (ngModelChange)="onAglomeradoChange($event)">
    </po-select>

    <po-select name="fazenda" p-label="Fazenda" [p-options]="fazendas" p-required
      (ngModelChange)="onFazendaChange($event)">
    </po-select>

    <po-combo p-label="Operacao" 
    [p-options]="operacoes" 
    (p-change)="definirOperacao($event)">
</po-combo>


<po-input p-label="Aeronave" name="aeronave" [(ngModel)]="os.aeronave" [hidden]="!exibirCamposAeronave"></po-input>
<po-input p-label="Piloto" name="piloto" [(ngModel)]="os.piloto" [hidden]="!exibirCamposAeronave"></po-input>

    <po-number p-label="Vazão" name="vazao" p-required [(ngModel)]="os.vazao"></po-number>

      <po-button p-label="Próximo" p-type="primary" (p-click)="proximo()"></po-button>
  </po-container>
</po-page-default>