<p>entrega-produtos works!</p>
<po-page-default p-title="Entrega de Produtos">
    <po-container p-title="Registrar Entrega">
      <form #entregaForm="ngForm">
        <po-select p-label="Produto" name="produto" [p-options]="produtos" [(ngModel)]="entregaData.produto"></po-select>
        <po-number p-label="Quantidade Entregue" name="quantidade" [(ngModel)]="entregaData.quantidade"></po-number>
        <po-select p-label="Tipo de Movimentação" name="tipo" [p-options]="tiposMovimentacao" [(ngModel)]="entregaData.tipo"></po-select>
        <po-input p-label="Local de Origem" name="localOrigem" [(ngModel)]="entregaData.localOrigem"></po-input>
        <po-input p-label="Local de Destino" name="localDestino" [(ngModel)]="entregaData.localDestino"></po-input>
        <po-button p-label="Confirmar Entrega" p-type="primary" (p-click)="registrarEntrega()"></po-button>
      </form>
  
      <po-table [p-items]="entregasRegistradas" [p-columns]="entregasColumns"></po-table>
    </po-container>
  </po-page-default>
  